html {
  font-size: min(10px, 0.66vw);
}

body {
  background: #fff;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  position: relative;
}

body.is-active {
  overflow: hidden;
}

a {
  display: block;
}

a:hover {
  opacity: 0.75;
  transition: 0.2s;
}

dt {
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* フォームリセット */

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*
 * footer
 * -------------------------------------------------------------
 */

.footer {
  background: #4b2913;
  overflow: hidden;
}

.footer__inner {
  align-items: center;
  display: flex;
  height: 13rem;
  justify-content: center;
  margin: auto;
  max-width: 130.6rem;
  padding: 0 5rem;
  position: relative;
}

.footer__contents {
  color: #fff;
  flex: 1;
  font-size: 1.3rem;
  line-height: 1.53;
  padding-top: 1rem;
  text-align: center;
  text-align: center;
}

.footer__obj-left {
  left: 0;
  margin-right: auto;
  max-width: 15.7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer__obj-right {
  margin-left: auto;
  max-width: 7.2rem;
  position: absolute;
  right: 5.3rem;
  top: 50%;
  transform: translateY(-50%);
}

/*
 * header
 * -------------------------------------------------------------
 */

.header {
  background: url(./../images/common/header_bg.webp) no-repeat center/100%;
  background-position-x: -9.52vw;
  height: 7.54vw;
  left: 0;
  position: fixed;
  top: 0;
  width: 64.3vw;
  z-index: 10;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  padding-left: 3.3vw;
}

/*
 * l-inner
 * -------------------------------------------------------------
 */

.l-inner {
  margin: auto;
  max-width: 130rem;
  padding: 0 5rem;
}

/*
 * l-main
 * -------------------------------------------------------------
 */

.l-main {
  overflow: hidden;
}

/*
 * c-btn-top
 * -------------------------------------------------------------
 */

.c-btn-top {
  align-items: center;
  bottom: 12.8rem;
  display: grid;
  justify-items: center;
  margin-left: auto;
  max-width: 10.6rem;
  place-items: center;
  position: fixed;
  right: 13.3rem;
  transition: transform 0.2s;
  z-index: 20;
}

.c-btn-top:hover {
  opacity: 1;
}

.c-btn-top::before {
  background: url(./../images/top/btn_top.webp) no-repeat center/100%;
  content: "";
  display: block;
  height: 10.5rem;
  mix-blend-mode: difference;
  opacity: 0.6;
  transition: all 0.2s;
  width: 10.6rem;
}

.c-btn-top span {
  bottom: 2.8rem;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 700;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.c-btn-top:hover span {
  filter: brightness(150%);
}

.c-btn-top:hover::before {
  opacity: 0.7;
}

.c-btn-top.is-active {
  z-index: -1;
}

/*
 * c-btn
 * -------------------------------------------------------------
 */

.c-btn {
  align-items: center;
  background: #B17347;
  border-radius: 14rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 5.4rem;
  justify-content: center;
  letter-spacing: 0.15em;
  line-height: 1;
  max-width: 30rem;
  text-align: center;
  width: 100%;
}

.c-btn.--dark {
  background: #3b281b;
}

.c-btn.--white {
  background: #fff;
  border: 1px solid #3B281B;
  color: #3B281B;
}

/*
 * c-menu-btn
 * -------------------------------------------------------------
 */

.c-menu-btn {
  display: none;
  margin-left: auto;
  max-width: 5.7rem;
  position: relative;
  z-index: 20;
}

/*
 * c-page-header
 * -------------------------------------------------------------
 */

.c-page-header {
  margin: 0 auto;
  max-width: 113rem;
  padding-left: 11.8rem;
}

/*
 * c-secttl
 * -------------------------------------------------------------
 */

.c-secttl {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
}

.c-secttl.--left {
  text-align: left;
}

.c-secttl.--white {
  color: #fff;
}

/*
 * nav
 * -------------------------------------------------------------
 */

.nav.is-active {
  opacity: 1;
  overflow: auto;
  transition: all 0.6s;
  visibility: visible;
  z-index: 10;
}

.nav___items {
  display: flex;
  gap: 6rem;
}

.nav__item {
  position: relative;
  transition: all 0.1s;
}

.nav__item--sp {
  display: none;
}

.nav__item:hover .nav__link {
  color: #fff;
  opacity: 1;
}

.nav__link {
  font-size: 1.06vw;
  position: relative;
}

.nav__link:hover {
  opacity: 1;
  transition: all 0.1s;
}

.nav__item:hover .nav__link::before {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.nav__item:nth-child(1):hover .nav__link::before {
  background: url(./../images/common/hover01.webp) no-repeat center/100%;
  height: 3vw;
  width: 7.1vw;
}

.nav__item:nth-child(2):hover .nav__link::before {
  background: url(./../images/common/hover02.webp) no-repeat center/100%;
  height: 5.1vw;
  left: 60%;
  width: 6.7vw;
}

.nav__item:nth-child(4):hover .nav__link::before {
  background: url(./../images/common/hover03.webp) no-repeat center/100%;
  height: 4vw;
  left: 57%;
  width: 7.3vw;
}

.nav__item:nth-child(5):hover .nav__link::before {
  background: url(./../images/common/hover04.webp) no-repeat center/100%;
  height: 4.5vw;
  width: 9.1vw;
}

.nav__item:nth-child(6):hover .nav__link::before {
  background: url(./../images/common/hover05.webp) no-repeat center/100%;
  height: 5.2vw;
  width: 8.7vw;
}

.nav__sp-block {
  display: none;
}

.nav__link--sp::after {
  background: url(./../images/common/sp/icon_link.webp) no-repeat center/100%;
  content: "";
  display: block;
  height: 1.3rem;
  margin-top: 0.2rem;
  width: 1.2rem;
}

/*
 * about
 * -------------------------------------------------------------
 */

.about {
  background: url(./../images/top/about_bg.webp) no-repeat top/100%;
  margin-top: min(-13rem, -8.6vw);
  padding: 10.7vw 0 51.1rem;
}

.about__inner {
  margin: 0 auto;
  max-width: 150.8rem;
  padding: 0 2rem;
  position: relative;
}

.about__inner::before {
  background: url(./../images/top/about_obj.webp) no-repeat center/100%;
  content: "";
  display: block;
  height: 27.3rem;
  left: 50%;
  position: absolute;
  top: 19.4rem;
  transform: translate(-50%, -50%);
  width: 100%;
}

.about__secttl {
  position: relative;
  z-index: 1;
}

.about__secttl::before {
  background: url(./../images/top/about_ttl_bg.webp) no-repeat center/100%;
  content: "";
  display: block;
  height: 25.4rem;
  left: 50%;
  max-width: 37.2rem;
  position: absolute;
  top: -5.5rem;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.about__secttl .fs-sm {
  font-size: 2rem;
}

.about__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.83;
  margin-top: 5rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

/*
 * cats
 * -------------------------------------------------------------
 */

.cats {
  background: linear-gradient(103.92deg, #D1F3F4 3.65%, #FFF9D7 99.01%);
  padding: 8.4rem 0 17.4rem;
}

.cats__text {
  line-height: 1.75;
  margin-top: 2.4rem;
  text-align: center;
}

.cats__items {
  grid-gap: 1.8rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5.4rem;
}

.cats__item {
  align-items: center;
  background: #fff;
  border-radius: 2rem;
  display: flex;
  gap: 2rem;
  padding: 2.5rem 2.8rem 3.3rem 2rem;
  position: relative;
}

.cats__item-img {
  border-radius: 50%;
  max-width: 34.1rem;
  overflow: hidden;
}

.cats__item-details {
  flex: 1;
}

.cats__item-name {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.cats__item-text {
  font-size: 1.3rem;
  line-height: 1.9;
  margin-top: 2.5rem;
}

.cats__item-obj01 {
  left: 4.6rem;
  max-width: 51.7rem;
  position: absolute;
  top: 1.4rem;
  width: 100%;
}

.cats__item-obj02 {
  left: 2.4rem;
  max-width: 57.2rem;
  position: absolute;
  top: 1.2rem;
  width: 100%;
}

/*
 * contact
 * -------------------------------------------------------------
 */

.contact {
  background: #f4cfa8;
  margin-top: -7rem;
  padding: 14.2rem 0 6.2rem;
}

.contact__inner {
  max-width: 124.4rem;
  position: relative;
}

.contact__body {
  align-items: center;
  background: #FFF3F0;
  border-radius: 22rem;
  display: flex;
  gap: 8rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 87.8rem;
  padding: 5.5rem 8.4rem;
}

.contact__header {
  flex: 1;
}

.contact__text {
  line-height: 1.75;
  margin-top: 2rem;
}

.contact__btnWrap {
  max-width: 11.5rem;
}

.contact__btn {
  transition: transform 0.2s;
}

.contact__btn:hover {
  transform: translateX(0.5rem);
}

.contact__obj {
  max-width: 26.5rem;
  position: absolute;
  right: -2.6rem;
  top: -12.4rem;
  width: 100%;
  z-index: 1;
}

/*
 * fv
 * -------------------------------------------------------------
 */

.fv {
  background: #F4CFA8;
  height: 104vh;
}

.fv__inner {
  height: 100%;
  max-width: 100vw;
  padding: 17.9vw 3.3vw 19.7vw;
  position: relative;
}

.fv__hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fv__site-ttl {
  margin: 0 auto;
  max-width: 82.54vw;
  width: 100%;
}

.fv__tagline {
  left: 22.75vw;
  position: absolute;
  top: 16.7vw;
  width: 29.63vw;
  z-index: 1;
}

.fv__text {
  color: #3F2615;
  font-size: 2.78vw;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.fv__text .fs-lg {
  display: inline-block;
  font-size: 4.1vw;
}

.fv__text.--bottom {
  margin-left: auto;
  margin-top: 2rem;
  text-align: right;
}

.fv__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 46vw;
}

/* ----------------------------------------
	* animation
----------------------------------------- */

.fv__site-ttl {
  animation: blurFadeIn 1.5s ease-out forwards;
}

.fv__tagline {
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.fv__img {
  animation: down 3s ease-out forwards;
  animation-delay: 2.5s;
  transform: translateY(-100%);
}

/*
 * profile
 * -------------------------------------------------------------
 */

.profile {
  background: #fff;
  background: url(./../images/top/profile_bg.webp) no-repeat top/100% #fff;
  border-radius: 7rem;
  margin-top: -37rem;
  padding: 6.6rem 0;
  position: relative;
}

.profile__text {
  line-height: 1.75;
  margin-top: 3.8rem;
  text-align: center;
}

.profile__skills {
  align-items: center;
  background: #fff3f0;
  border-radius: 2rem;
  display: flex;
  gap: 4rem;
  margin-top: 9rem;
  padding: 3.3rem 4rem;
}

.profile__skills-ttl {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.profile__details {
  flex: 1;
  max-width: 92rem;
}

.profile__items {
  grid-gap: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.profile__item {
  background: #fff;
  border-radius: 1rem;
  padding: 1.6rem 2rem 1.6rem 2.1rem;
}

.profile__item-flex {
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.profile__item-flex:nth-of-type(2) {
  margin-top: 1.5rem;
}

.profile__item-icon {
  max-width: 7.5rem;
}

.profile__item-dl {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.6rem;
}

.profile__item-dl dt {
  font-size: 1.8rem;
  font-weight: 700;
}

.profile__item-dl dd {
  font-size: 1.6rem;
  letter-spacing: 0.15em;
}

.profile__item-text {
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  line-height: 1.6;
  margin-top: 0.9rem;
}

.profile__note {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  line-height: 1.6;
  margin-top: 1.6rem;
}

/*
 * save
 * -------------------------------------------------------------
 */

.save {
  background: url(./../images/top/save_bg.webp) no-repeat center/100% #fff;
  border-radius: 7rem;
  margin-top: -6.6rem;
  padding: 6.6rem 0;
  position: relative;
  z-index: 1;
}

.save__text {
  line-height: 1.75;
  margin-top: 3.8rem;
  text-align: center;
}

.save__btn {
  margin: 5.2rem auto 0;
}

/*
 * single
 * -------------------------------------------------------------
 */

.single {
  background: url(./../images/single/single_bg.webp) no-repeat top/100%;
  padding: 12.24vw 0 10rem;
}

.single__header {
  height: 24.2rem;
  position: relative;
}

.single__ttl {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.single__header-img {
  max-width: 50rem;
  position: absolute;
  right: 0;
  top: -9rem;
  width: 100%;
}

.single__lead {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.55;
}

.single__text {
  line-height: 1.75;
  margin-top: 2rem;
}

.single__link {
  align-items: center;
  display: flex;
  gap: 2rem;
  letter-spacing: 0.15em;
  margin-top: 4.2rem;
}

.single__link::before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: "";
  display: block;
  height: 2.3rem;
  width: 2.3rem;
}

.single__link.--4e-green::before {
  background: #4ea063;
}

.single__link.--yel::before {
  background: #FFAD0F;
}

.single__link.--00-green::before {
  background: #00A73C;
}

.single__link.--blue::before {
  background: #376583;
}

.single__btns {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 7.4rem;
}

.single__body:nth-of-type(3) {
  margin-top: 6rem;
}

.single__body-img {
  margin: 3rem auto;
}

.single__body-flex {
  display: flex;
  gap: 6rem;
  justify-content: flex-end;
  margin-top: 3rem;
}

.single__body-flexImg {
  max-width: 17.5rem;
}

.single__body-flexText {
  flex: 1;
  max-width: 92.1rem;
}

.single__body-flexText .single__text {
  margin-top: 0;
}

/*
 * top-works
 * -------------------------------------------------------------
 */

.top-works {
  background: #40200a;
  margin-top: -11.6rem;
  padding: 20rem 0 5.3rem;
}

.top-works__inner {
  align-items: center;
  display: flex;
  gap: 4rem;
}

.top-works__header {
  max-width: 25.7rem;
}

.top-works__text {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 1.9;
  margin-top: 2.4rem;
}

.top-works__note {
  display: block;
  font-size: 1.3rem;
  line-height: 2.1;
}

.top-works__body {
  flex: 1;
  margin-right: calc(50% - 50vw);
  max-width: 100rem;
}

.top-works__btn {
  margin: 6.3rem auto 0;
}

/*
 * works-slider
 * -------------------------------------------------------------
 */

.works-slider {
  overflow: visible !important;
}

.works-slider {
  -webkit-clip-path: inset(0% -50vw 0% 0%);
  clip-path: inset(0% -50vw 0% 0%);
  position: relative;
}

.works-slider .swiper-slide {
  background: #fff;
  border-radius: 3rem;
  flex-shrink: 0;
  overflow: hidden;
  width: auto;
}

.works-slider__item {
  aspect-ratio: 482/505;
  border-radius: 3rem;
  max-width: 48.2rem;
  overflow: hidden;
}

.works-slider__item img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
}

.works-slider .swiper-button-next {
  height: 5.4rem !important;
  right: 1rem !important;
  width: 11.5rem !important;
}

.works-slider .swiper-button-next {
  background: url(./../images/top/btn_next.webp) no-repeat center/100%;
}

.works-slider__nav {
  display: none;
}

.works-slider__nav .swiper-pagination-bullet {
  margin: 0 !important;
}

.works-slider__nav .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
  height: 1.2rem;
  opacity: 1;
  width: 1.2rem;
}

.works-slider__nav .swiper-pagination-bullet-active {
  background: #fff;
}

/*
 * works
 * -------------------------------------------------------------
 */

.works {
  background: url(./../images/works/works_bg.webp) no-repeat top/100%;
  padding: 9.6vw 0 9rem;
}

.works__pagettl {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: left;
}

.works__note {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.1;
  margin-top: 1.1rem;
}

.works__items {
  grid-gap: 2.5rem 2.4rem;
  display: grid;
  gap: 2.5rem 2.4rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6.3rem;
}

.works__item {
  aspect-ratio: 384/402;
  border-radius: 3rem;
  overflow: hidden;
}

.works__item:hover {
  opacity: 1;
}

.works__item img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.works__item:hover img {
  transform: scale(1.1);
}

.works__btn {
  margin: 8rem auto 0;
}

/*
 * u-fadein
 * -------------------------------------------------------------
 */

.u-fadein {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.4s ease-out;
}

.u-fadein.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/*
 * u-pc
 * -------------------------------------------------------------
 */

.u-pc {
  display: block;
}

/*
 * u-sp
 * -------------------------------------------------------------
 */

.u-sp {
  display: none;
}

@media screen and (min-width: 1025px) {

  a[href^="tel:"] {
    pointer-events: none;
  }

}

@media screen and (max-width: 768px) {

  html {
    font-size: 10px;
  }

  .footer__inner {
    max-width: 100%;
    padding: 0 0.7rem 0 1.6rem;
  }

  .footer__contents {
    padding-top: 0;
  }

  .footer__obj-left {
    left: 1.7rem;
    max-width: 8.8rem;
    top: 9.3rem;
    transform: none;
  }

  .footer__obj-right {
    max-width: 4.5rem;
    right: 0.7rem;
    top: 1.3rem;
    transform: none;
  }

  .header {
    background: none;
    height: auto;
    width: 100%;
  }

  .header__inner {
    padding: 1.5rem 2rem 0;
  }

  .l-inner {
    max-width: 100%;
    padding: 0 2rem;
  }

  .c-btn-top {
    bottom: 12.5rem;
    max-width: 8.6rem;
    right: 0;
  }

  .c-btn-top::before {
    height: 8.6rem;
    width: 8.6rem;
  }

  .c-btn-top span {
    bottom: 2.4rem;
    font-size: 1.1rem;
  }

  .c-menu-btn {
    display: block;
    max-width: 100%;
    width: max(5.7rem, 11.6vw);
  }

  .c-page-header {
    max-width: 100%;
    padding-left: 0;
  }

  .c-secttl {
    font-size: 2rem;
  }

  .c-secttl.--left {
    text-align: center;
  }

  .nav {
    background: #F4CFA8;
    height: 100%;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    transition: all 0.6s;
    visibility: hidden;
    width: 100%;
  }

  .nav__inner {
    background: #fff;
    height: 100%;
    left: 50%;
    overflow: auto;
    padding: 10rem 2.3rem 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
  }

  .nav___items {
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .nav__item {
    border-bottom: 0.4rem solid #F4ECDB;
    display: flex;
    justify-content: center;
    width: 76.9vw;
  }

  .nav__item--sp {
    display: flex;
    justify-content: center;
  }

  .nav__item:hover .nav__link {
    color: inherit;
  }

  .nav__link {
    color: #623120;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 2.8rem;
    text-align: center;
  }

  .nav__item:first-child .nav__link {
    padding-top: 0;
  }

  .nav__item:hover .nav__link::before {
    display: none;
  }

  .nav__sp-block {
    display: block;
    margin: 5.3rem auto 0;
    max-width: 32.6rem;
  }

  .nav__link--sp {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .about {
    background: url(./../images/top/sp/about_bg.webp) no-repeat top/100%;
    margin-top: -5.4rem;
    padding: 9.1rem 0 21.2rem;
  }

  .about__inner::before {
    background: url(./../images/top/sp/about_obj.webp) no-repeat center/100%;
    height: 6.8rem;
    top: 8.6rem;
  }

  .about__secttl::before {
    height: 7.5rem;
    max-width: 11rem;
    top: -3.6rem;
  }

  .about__secttl .fs-sm {
    font-size: 1.8rem;
  }

  .about__text {
    font-size: 1.6rem;
    line-height: 1.875;
    margin-top: 3.4rem;
    text-align: left;
  }

  .cats {
    padding: 6rem 0 12rem;
  }

  .cats__text {
    margin-top: 2rem;
  }

  .cats__items {
    gap: 2.2rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
  }

  .cats__item {
    flex-direction: column;
    gap: 2rem;
    padding: 2.6rem 3.2rem 2rem;
  }

  .cats__item:nth-child(2) {
    padding-bottom: 3rem;
  }

  .cats__item-img {
    max-width: 28.5rem;
    order: 2;
  }

  .cats__item-details {
    display: contents;
  }

  .cats__item-name {
    font-size: 2rem;
    order: 1;
  }

  .cats__item-text {
    margin-top: 1rem;
    order: 3;
    text-align: center;
  }

  .cats__item-obj01 {
    left: 50%;
    max-width: 30.4rem;
    top: 4rem;
    transform: translateX(-50%);
  }

  .cats__item-obj02 {
    left: 55%;
    max-width: 32.5rem;
    top: 2rem;
    transform: translateX(-50%);
  }

  .contact__inner {
    max-width: 100%;
  }

  .contact__body {
    border-radius: 50%;
    flex-direction: column;
    gap: 2rem;
    height: 82vw;
    max-width: 100%;
    padding: 6rem 4.3rem;
    width: 82vw;
  }

  .contact__header {
    flex: none;
  }

  .contact__text {
    margin: 2rem auto 0;
    max-width: 23.3rem;
  }

  .contact__obj {
    max-width: 12.3rem;
    right: 1rem;
    top: -11.5rem;
  }

  .fv {
    height: 100dvh;
  }

  .fv__inner {
    max-width: 100%;
    padding: 67.7vw 5.13vw 51.3vw;
  }

  .fv__site-ttl {
    max-width: 100%;
  }

  .fv__tagline {
    left: 50%;
    max-width: 100%;
    top: 67.2vw;
    transform: translateX(-50%);
    width: 72.3vw;
  }

  .fv__text {
    font-size: 8.97vw;
  }

  .fv__text .fs-lg {
    font-size: 12.8vw;
  }

  .fv__text.--bottom {
    margin-top: 5.13vw;
  }

  .fv__img {
    left: 50%;
    max-width: 100%;
    right: auto;
    transform: translateX(-50%);
    width: 61.8vw;
  }

  .fv__img {
    animation: downSP 3s ease-out forwards;
    animation-delay: 2.5s;
    transform: translate(-50%, -100%);
  }

  .profile {
    background: url(./../images/top/sp/profile_bg.webp) no-repeat top/100% #fff;
    border-radius: 3rem;
    margin-top: -15.2rem;
    padding: 6rem 0;
  }

  .profile__text {
    margin-top: 2rem;
    text-align: left;
  }

  .profile__skills {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;
    padding: 5rem 2.5rem;
  }

  .profile__skills-ttl {
    font-size: 1.8rem;
  }

  .profile__details {
    max-width: 100%;
  }

  .profile__items {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .profile__item {
    padding: 2rem 2rem 1.5rem 2rem;
  }

  .profile__item-flex {
    gap: 1.9rem;
  }

  .profile__item-flex:nth-of-type(2) {
    margin-top: 1rem;
  }

  .profile__item-dl {
    gap: 1.9rem;
  }

  .profile__item-text {
    margin-top: 1rem;
  }

  .profile__note {
    line-height: 2;
    margin-top: 1rem;
  }

  .save {
    background: url(./../images/top/sp/save_bg.webp) no-repeat center/100% #fff;
    border-radius: 3rem;
    margin-top: -6rem;
    padding: 6rem 0;
  }

  .save__text {
    margin-top: 2rem;
    text-align: left;
  }

  .save__btn {
    margin-top: 3rem;
  }

  .single {
    background: url(./../images/single/sp/single_bg.webp) no-repeat top/100%;
    padding: 4.7rem 0 6rem;
  }

  .single__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }

  .single__ttl {
    align-items: center;
    display: flex;
    font-size: 2rem;
    height: 7.2rem;
    line-height: 1.4;
  }

  .single__header-img {
    margin: 0 auto;
    max-width: 100%;
    position: static;
  }

  .single__body {
    margin-top: 2.5rem;
  }

  .single__link {
    margin-top: 2rem;
  }

  .single__btns {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
  }

  .single__body:nth-of-type(3) {
    margin-top: 4rem;
  }

  .single__body-img {
    margin-top: 2rem;
  }

  .single__body-flex {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .single__body-flexImg {
    margin: 0 auto;
    max-width: 19.4rem;
  }

  .single__body-flexText {
    max-width: 100%;
  }

  .top-works {
    margin-top: -3.2rem;
    padding: 10rem 0 6rem;
  }

  .top-works__inner {
    flex-direction: column;
    gap: 4.5rem;
    max-width: 100%;
  }

  .top-works__header {
    max-width: 100%;
    min-width: 100%;
  }

  .top-works__text {
    line-height: 1.75;
    margin-top: 2rem;
  }

  .top-works__body {
    margin: auto;
    max-width: 100%;
  }

  .top-works__btn {
    margin-top: 3rem;
  }

  .works-slider {
    -webkit-clip-path: inset(0% -50vw 0% -50vw);
    clip-path: inset(0% -50vw 0% -50vw);
  }

  .works-slider .swiper-slide {
    max-width: 82.667vw;
  }

  .works-slider__item {
    aspect-ratio: 310/325;
    max-width: 100%;
    width: 79.49vw;
  }

  .works-slider .swiper-button-next.--pc {
    display: none;
  }

  .works-slider__nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1.8rem auto 0;
    width: 90vw;
  }

  .works-slider__nav .swiper-pagination {
    position: static !important;
  }

  .works-slider__nav .swiper-pagination {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  .works-slider__nav .swiper-button-prev,
  .works-slider__nav .swiper-button-next {
    height: 1.5rem !important;
    margin-top: 0 !important;
    position: static !important;
    width: 3.2rem !important;
  }

  .works-slider__nav .swiper-button-prev {
    background: url(./../images/top/sp/works_prev.webp) no-repeat center/100%;
  }

  .works-slider__nav .swiper-button-next {
    background: url(./../images/top/sp/works_next.webp) no-repeat center/100%;
  }

  .works {
    background: url(./../images/works/sp/works_bg.webp) no-repeat top/100%;
    padding: 4.8rem 0 6.2rem;
  }

  .works__pagettl {
    font-size: 2rem;
  }

  .works__note {
    margin-top: 1.7rem;
  }

  .works__items {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
  }

  .works__item {
    aspect-ratio: 350/367;
  }

  .works__btn {
    margin-top: 6rem;
  }

  .u-pc {
    display: none;
  }

  .u-sp {
    display: block;
  }

}

@media screen and (max-width: 600px) {

  .works__items {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

}

@media screen and (max-width: 390px) {

  html {
    font-size: 2.564vw;
  }

}

@keyframes blurFadeIn {

  0% {
    filter: blur(10rem);
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes down {

  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes downSP {

  0% {
    transform: translate(-50%, -100%);
  }

  100% {
    transform: translate(-50%, 0);
  }

}


/*# sourceMappingURL=style.css.map */